*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgb(70, 69, 69);
    color: rgb(255, 244, 244);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(92, 88, 88);
    box-shadow: 5px 0 10px;
}

.logo{
    color: rgb(255, 244, 244);
    font-size: 30px;
    padding: 0 80px;
    font-weight: bold;
}

.menuItems{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menuItems li{
    border-radius: 3px;
    margin: 0 5px;
}